appdirs==1.4.3
backports-abc==0.5
BeautifulSoup==3.2.1
beautifulsoup4==4.6.0
bokeh==0.12.5
bs4==0.0.1
certifi==2017.4.17
futures==3.1.1
htmlmin==0.1.10
Jinja2==2.9.6
MarkupSafe==1.0
numpy==1.12.1
packaging==16.8
pandas==0.20.1
pymongo==3.4.0
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
requests==2.14.2
singledispatch==3.4.0.3
six==1.10.0
tornado==4.5.1
